<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="aqua">
    <a href="/">Home</a>
    <a href="insert">insert</a>
    <a href="display">Display</a>
    <hr size="7" color="red">

    <h1>Insert student record</h1>

    
    <form action="/studentsave" method="post" enctype="multipart/form-data">
    Enter roll no <input type="text" name="rno" id="">
    <br> Enter name <input type="text" name="nm" id="">
    <br>
    Enter city name <input type="text" name="city" id="">
    <br> Enter your Photo <input type="file" name="stuimg" id="">
    <br>
    <input type="submit" value="data save!!">
    <br>
</form>


    
</body>
</html>